* {
  margin: 0;
  padding: 0;
}
body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://img.freepik.com/photos-premium/salle-gym-lumiere-mur-tapis-roulant_808092-1997.jpg?size=626&ext=jpg&ga=GA1.1.1776578027.1698579629&semt=sph);
}
.section1 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
header {
  padding: 40px 80px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  font-size: 2em;
  color: white;
  user-select: none;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: rgb(7, 245, 185);
  border-radius: 1em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform: scaleX(1);
}
.btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}
.btnLogin-popup:hover {
  background: white;
  color: rgb(7, 245, 185);
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: rgba(184, 184, 184, 0.16);
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(184, 184, 184, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease, left 0.5s ease;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(7, 245, 185);
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: white;
  line-height: 57px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  color: rgb(7, 245, 185);
  top: -5px;
}
.remembre-forget {
  font-size: 0.9em;
  color: white;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remembre-forget label input {
  accent-color: white;
  margin-right: 3px;
}
.remembre-forget a {
  color: white;
  text-decoration: none;
}
.remembre-forget a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 15px;
  margin-top: 1em;
  cursor: 1em;
  font-size: 1em;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
  letter-spacing: 1px;
}
.btn:hover {
  color: rgb(7, 245, 185);
  background: white;
}
.login-register {
  font-size: 0.9em;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: rgb(7, 245, 185);
  box-shadow: 0 0 5px rgb(7, 245, 185), 0 0 25px rgb(7, 245, 185);
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  transition: 0.4s ease;
}
.wrapper .icon-close i {
  font-size: 24px;
}
.wrapper .icon-close:hover {
  background: orangered;
  color: white;
  box-shadow: 0 0 5px orangered, 0 0 25px orangered;
}
.wrapper.active {
  height: 620px;
}
.wrapper .form-box.login {
  transition: transform 0.4s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: 0.4s ease;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: 0.4s ease;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transform: translateX(0);
  transition: transform 0.4s ease;
}
.wrapper.active-popup {
  transform: scale(1);
  left: 0;
}
nav {
  width: 100%;
}
a:hover {
  color: white !important;
}
.toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .navigation,
  .btnLogin-popup {
    display: none;
  }
  .toggle_btn {
    display: block;
  }
  .dropdown-menu {
    display: block !important;
    background: transparent !important;
  }
  footer .navigation{
    display: block;
    text-align: center;
  }
}
.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 77px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}
.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
}
.dropdown-menu li a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.dropdown-menu.open {
  height: 340px;
}
@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}
footer {
  padding: 0 !important;
  background-color: black;
  opacity: 70%;
  border-radius: 50px 50px 0 0;
}
.footer-changement {
  color: white;
  width: 100%;
}
.footer-changement .a-padding {
  padding-top: 2.5rem !important;
  padding-bottom: 0.5rem !important;
}
main {
  height: 81vh;
}
section#hero {
  margin-top: 50px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}
#hero h3 {
  color: rgb(209, 209, 209);
  font-weight: bold;
}
#hero p {
  color: rgb(209, 209, 209);
  font-weight: bold;
}
.section2 {
  background-color: black !important;
  opacity: 90%;
}
.section2 button{
  width: 10rem;
  background-color: red;
}
.hero-button {
  width: 150px;
  height: 50px;
  border: 3px solid white;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  opacity: 90%;
}
.hero-button a {
  color: rgb(7, 245, 185);
  text-decoration: none;
  font-weight: bolder;
}
#hero .hero-button:hover {
  color: rgb(7, 245, 185);
  background-color: rgb(0, 0, 0);
}
.clothing-section {
  width: 80%;
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}
.clothing-section a:hover {
  color: rgb(7, 245, 185) !important;
}
.section3 {
  background-color: black !important;
  opacity: 90%;
}
.img-changement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-changement button {
  width: 10rem;
  background-color: rgb(13, 201, 154);
}
.section4 {
  justify-content: center;
  background-color: black !important;
  opacity: 90%;
}
.section4 p{
  text-transform: capitalize !important;
}
.section4 .img-changement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 .img-changement button {
  width: 10rem;
  background-color: rgb(13, 201, 154);
}
.footer-home {
  border-radius: 0;
}
.section-card{
  background: rgba(184, 184, 184, 0.16);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 20px 10px;
}